@font-face {
	font-family: cabin;
	src: url('../fonts/Cabin-Regular.ttf');
}

/* Regular(lame) html tags*/
html
{
	text-align: center;
	color: #EEEEEE;
	font-family: 'cabin';
}	

hr
{
    border: 0;
    height: 0;
	width: 60%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1
{
	
	width:auto;
	margin-left: 10%;
	margin-right: 10%;
}

h3
{
	width:auto;
	margin-left: 10%;
	margin-right: 10%;
	font-size:22;

}


img.graph
{
	margin:5px;
}


input[type=text],input[type=number]
{
	background-color:#EEEEEE;
	border: solid 1px #AD0000;
	border-radius:5px;
}

textarea
{
	background-color:#EEEEEE;
	border: solid 1px #AD0000;
	border-radius:5px;
	max-width:60%;
	max-height:10%;
}

body
{
	//background-color: #AD0000;
	background-image:url('/assets/crrTexture.bmp');
	bottom:0px;
}

input
{
	margin:2px;
}

button{
	padding:0px;
	border:0px;
	position:relative;
	top:6px;
}

table.display
{
	width:100%;
	border-collapse:collapse;
	text-align:center;
}

th
{
	font-size:1em;
	padding:3px 7px 2px 7px;
	font-size:1.1em;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#770000;
	color:#FFFFFF;
}

object
{
	max-width:90%;
}

tr.alt td 
{
	//color:#FFFFFF;
	font-size:1em;
	padding:3px 7px 2px 7px;
	background-color:#AD0000;
}

td
{
	font-size:1em;
	padding:3px 7px 2px 7px;
	//color:#FFFFFF;
}

a:link
{
	font-size: 32px;
	color:#EEEEEE;
	text-decoration:none;
}

a:visited
{
	font-size: 32px;
	color:#EEEEEE;
	text-decoration:none;
}


a:hover
{
	
	color:#CCCCCC;
	width:60px;
	text-decoration:none;
	
}

a:active
{
	color:#BBBBBB;
	
}

/*This make arrow on number input of disappear*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Glorious and mighty formb classes (needs cleaning up(real bad)) */
.formb1
{
	text-align: center;
	border-radius: 10px;
	width: auto;
	background-color: #880000;
	padding:10px;
	margin-left: 7%;
	margin-right: 7%;
	min-height:100%;
	min-width:620px;
}

floater{
	margin:5px;
}